@model HomeAllInfoViewModel

<section class="section section-lg">
    <section class="section">
        <img src="../assets/img/path4.png" class="path">
        <div class="container">
            <div class="row row-grid justify-content-between">
                <div class="col-md-5 mt-lg-5">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 px-2 py-2">
                            <div class="card card-stats ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-graduation-cap text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-title">@Model.Students
                                                <p>
                                                <p class="card-category">Студенти</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 px-2 py-2">
                            <div class="card card-stats upper bg-default">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-chalkboard-teacher text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-title">@Model.Instructors
                                                <p>
                                                <p class="card-category">Инструктори</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 px-2 py-2">
                            <div class="card card-stats ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-brain text-info"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-title">@Model.Courses
                                                <p>
                                                <p class="card-category">Курсове</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 px-2 py-2">
                            <div class="card card-stats ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="tim-icons icon-video-66 text-success"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-title">@Model.Lectures
                                                <p>
                                                <p class="card-category">Лекции</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pl-md-5">
                        <h1>
                            Вдъхновете
                            <br />учениците
                        </h1>
                        <p>Помогнете на хората да научат нови умения, да продължат кариерата си и да се развиват, като споделиш знанията си с тях.</p>
                        <br />
                        <p>Възползвайте се от нашата активна общност от инструктори, за да ви помогнем в процеса на създаване на вашия курс.</p>
                        <br />
                        <a href="Instructors/Index" class="font-weight-bold text-warning mt-5">Присъедини се <i class="tim-icons icon-minimal-right text-warning"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


