@model HomeAllInfoViewModel

<section class="section section-lg">
    <section class="section">
        <img src="../assets/img/path4.png" class="path">
        <div class="container">
            <div class="row row-grid justify-content-between">
                <div class="col-md-5 mt-lg-5">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 px-2 py-2">
                            <div class="card card-stats ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-graduation-cap text-warning"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-title">@Model.Students
                                                <p>
                                                <p class="card-category">Students</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 px-2 py-2">
                            <div class="card card-stats upper bg-default">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-chalkboard-teacher text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-title">@Model.Instructors
                                                <p>
                                                <p class="card-category">Instructors</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 px-2 py-2">
                            <div class="card card-stats ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="fas fa-brain text-info"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-title">@Model.Courses
                                                <p>
                                                <p class="card-category">Courses</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 px-2 py-2">
                            <div class="card card-stats ">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="icon-big text-center icon-warning">
                                                <i class="tim-icons icon-video-66 text-success"></i>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="numbers">
                                                <p class="card-title">@Model.Lectures
                                                <p>
                                                <p class="card-category">Lectures</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pl-md-5">
                        <h1>
                            Inspire
                            <br />students
                        </h1>
                        <p>Help people learn new skills, advance their careers, and explore their hobbies by sharing your knowledge. </p>
                        <br />
                        <p>Take advantage of our active community of instructors to help you through your course creation process.</p>
                        <br />
                        <a href="Instructors/Index" class="font-weight-bold text-info mt-5">DO IT <i class="tim-icons icon-minimal-right text-info"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>


