@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="container">
        <hr />
        <partial name="_ManageNav" />

        <br />
        <div>
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}