@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="container">
    <h1 class="text-center">Лични данни</h1>
    <div class="col-lg-5 col-md-8 mx-auto">
        <p>Вашият акаунт съдържа лични данни, които сте ни дали. Тази страница ви позволява да изтеглите или изтриете тези данни.</p>
        <p>
            <strong>Изтриването на тези данни ще премахне за постоянно вашия акаунт и това не може да бъде възстановено.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group text-center">
            <hr />
            <button class="btn btn-info" type="submit">Свали</button>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Изтрий</a>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
