@model ReviewBindingModel
@{
    ViewData["Title"] = "Add";
}
<link href="~/assets/css/spiner.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>


<div class="text-center" id="alert" role="alert"></div>

<div class="d-flex justify-content-center">
    <div class="form-horizontal">
        <h4 class="text-center">Добави видео ревю</h4>

        <input type="hidden" asp-for="@Model.CourseId" id="courseId" />
        <div class="uploadOuter">
            <label for="uploadFile" class="btn btn-primary">Качи видео до 1 ГБ</label>
            <strong>ИЛИ</strong>
            <span class="dragBox">
                Постави тук видеото.
                <input type="file" asp-for="@Model.Video" id="uploadFile" />
            </span>
        </div>
        <div id="vName" class="col-sm-10">
            <label class="text-success" id="label"></label>
        </div>
        <hr />
        <div class="form-group">
            <div class="sm-push-2 d-flex justify-content-center">
                <input type="submit" value="Добави" id="saveId" class="btn btn-info" />
                <a asp-controller="Instructors" asp-action="Index" class="btn btn-danger">Назад</a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="loader"></div>
        </div>
    </div>
</div>

<script>
    $('#uploadFile').on('change', function () {
        let file_path = document.getElementById('uploadFile').value;
        let file_name = file_path.split(/(\\|\/)/g).pop();

        let label = document.getElementById("label");
        label.textContent = file_name;
    });
</script>

<script>
    document.getElementById('saveId').addEventListener('click', function (e) {
        const alertDiv = document.getElementById("alert");
        const data = document.getElementById('uploadFile').files[0];
        const courseId = document.getElementById('courseId').value;

        function successfully() {
            document.getElementById('uploadFile').value = '';
            document.querySelector('.loader').style.display = 'none'
            alertDiv.setAttribute("class", "alert alert-success");
            alertDiv.textContent = `Успешно добавихте ревю. Обработва се и скоро ще се появи в курса`;
        }

        function invalidAdd(message) {
            alertDiv.setAttribute("class", "alert alert-danger");
            alertDiv.innerHTML = message;
            $("#uploadFile").val("");
            $("#label").text("");
        }

        const formData = new FormData();
        formData.append('video', data);
        formData.append('courseId', courseId);

        if (data !== undefined && data.size < 1200000000) {
            document.querySelector('.loader').style.display = 'block'

            alertDiv.setAttribute("class", "alert alert-info");
            alertDiv.textContent = `Моля, изчакайте това ще отнеме 10-15 минути`;
            $("#label").text("");
            document.querySelector('.form-group').style.display = 'none';
            document.querySelector('.uploadOuter').style.display = 'none';
            document.querySelector('h4').style.display = 'none';

            fetch('/Reviews/Add', {
                method: 'POST',
                body: formData
            }).then(r => r.json())
                .then(result => {
                    if (result === 'Valid') {
                        successfully();
                    } else {
                        alertDiv.setAttribute("class", "alert alert-danger");
                        alertDiv.innerHTML = 'Неуспешно добавяне!';
                    }
                }).catch((e) => {
                    successfully();
                });

        } else if (data === undefined) {
            invalidAdd('Не сте добавили видео ревю');
        } else if (data.size > 1200000000) {
            invalidAdd('Ревюто трябва да е до 1 гигабайт!');
        } else {
            invalidAdd('Невалидни Данни!');
        }
    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
