<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewData["Title"]CoursesP2P.App</title>
    <!--     Fonts and icons     -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/assets/css/blk-design-system.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/assets/demo/demo.css" rel="stylesheet" />

    <link rel="icon" type="image/x-icon" href="~/faviconcours.ico" sizes="48x48">
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
</head>

<body class="landing-page">
    <nav class="navbar navbar-expand-lg bg-darker fixed-top navbar-transparent" color-on-scroll="100">
        <div class="container-fluid">
            <div class="navbar-translate">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" rel="tooltip" title="Върни се в началната страница" data-placement="bottom">
                    <span>Courses</span> P2P
                </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse justify-content-between" id="navigation">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a>
                                Courses P2P
                            </a>
                        </div>
                        <div class="col-6 collapse-close text-right">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item p-0">
                        <div class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-align-justify"></i> Категории
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <vc:drop-down-categories></vc:drop-down-categories>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item p-0">
                        <a class="nav-link text-white" asp-area="" asp-controller="Students" asp-action="Index"><i class="fas fa-graduation-cap"></i> Записани курсове</a>
                    </li>
                    <li class="nav-item p-0">
                        <a class="nav-link text-white" asp-area="" asp-controller="Instructors" asp-action="Index"><i class="fas fa-briefcase"></i> Лектор</a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline my-2 my-lg-0" method="get" asp-controller="Home" asp-action="Search">
                            <input class="form-control mr-sm-2" type="search" name="searchTerm" placeholder="Търси" aria-label="Search">
                            <button class="btn btn-icon btn-round btn-default" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </li>
                </ul>
                <div class="justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <li class="nav-item p-0">
                            <a class="nav-link" rel="tooltip" title="Последвай ни във Facebook" data-placement="bottom" href="" target="_blank">
                                <i class="fab fa-facebook-square"></i>
                                <p class="d-lg-none d-xl-none">Facebook</p>
                            </a>
                        </li>
                        <li class="nav-item p-0">
                            <a class="nav-link" rel="tooltip" title="Последвай ни в Instagram" data-placement="bottom" href="" target="_blank">
                                <i class="fab fa-instagram"></i>
                                <p class="d-lg-none d-xl-none">Instagram</p>
                            </a>
                        </li>
                        <li class="nav-item p-0">
                            <a class="nav-link" rel="tooltip" title="Последвай ни в YouTube" data-placement="bottom" href="" target="_blank">
                                <i class="fab fa-youtube"></i>
                                <p class="d-lg-none d-xl-none">YouTube</p>
                            </a>
                        </li>
                        <li class="nav-item p-0">
                            <partial name="_LoginPartial" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="title">Courses P2P</h1>
                </div>
                <div class="col-md-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link">
                                Начало
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Teachings" asp-action="Index" class="nav-link">
                                За Лектори
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                За нас
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Контакти
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                Блог
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link">
                                Лични данни
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="title">Последвай ни:</h3>
                    <div class="btn-wrapper profile">
                        <a target="_blank" href="#" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Последвай ни във Facebook">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a target="_blank" href="#" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Последвай ни в Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a target="_blank" href="#" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Последвай ни в YouTube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
    <script src="/assets/js/plugins/bootstrap-switch.js"></script>
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
    <!-- Chart JS -->
    <script src="/assets/js/plugins/chartjs.min.js"></script>
    <!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
    <script src="/assets/js/plugins/moment.min.js"></script>
    <script src="/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <!-- Black Dashboard DEMO methods, don't include it in your project! -->
    <script src="/assets/demo/demo.js"></script>
    <!-- Control Center for Black UI Kit: parallax effects, scripts for the example pages etc -->
    <script src="/assets/js/blk-design-system.min.js?v=1.0.0" type="text/javascript"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>


