@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="card card-nav-tabs text-center">
    <div class="card-body">
        <img src="~/Images/Error.jpg">
        <h1 class="card-title">Възникна грешка!</h1>
        @if (Model.ShowRequestId)
        {
            <p class="card-text">Номер на заявката:</p>
            <p><code>@Model.RequestId</code> </p>

        }
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>