<div class="container">
    <div class="col-lg-7 col-md-8 mx-auto">
        <h1 class="text-center">Често задавани въпроси</h1>

        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
            <div class="card card-plain">
                <div class="card-header" role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <i class="fas fa-arrow-down"></i>
                        Как да добавя нов курс
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                        <iframe src="//aka.ms/ampembed?url=https%3A%2F%2Fcoursesp2p-euwe.streaming.media.azure.net%2Fc2156147-48f3-4587-a2d6-75d68018ec55%2F%D0%94%D0%BE%D0%B1%D0%B0%D0%B2%D0%B0%D0%BD%D0%B5%20%D0%BD%D0%B0%20%D0%BA%D1%83%D1%80%D1%81_1920x1080_AACAu.ism%2Fmanifest" name="azuremediaplayer" scrolling="no" frameborder="no" align="center" height="280px" width="500px" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="card card-plain">
                <div class="card-header" role="tab" id="headingTwo">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <i class="fas fa-arrow-down"></i>
                        Как да добавя видео ревю
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body">
                        <img src="" />
                    </div>
                </div>
            </div>
            <div class="card card-plain">
                <div class="card-header" role="tab" id="headingThree">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fas fa-arrow-down"></i>
                        Как да добавя лекция
                    </a>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-body">
                        <img src="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var myOptions = {
        "nativeControlsForTouch": false,
        "logo": { "enabled": false },
        controls: true,
        autoplay: true,
        width: "640",
        height: "400",
    }
    myPlayer = amp("azuremediaplayer", myOptions);
    myPlayer.src([
        {
            "src": "",
            "type": "application/vnd.ms-sstr+xml"
        }
    ]);
</script>