
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center text-center">
    <div class="container">
        <h1 class="title">Открийте своя потенциал</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="info info-hover">
                    <div class="icon icon-primary">
                        <i class="tim-icons icon-coins"></i>
                    </div>
                    <h4 class="info-title">Печали пари</h4>
                    <p class="description">Печелете пари всеки път, когато студент закупи вашия курс. Получаш заплащане седмично чрез PayPal.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-hover">
                    <div class="icon icon-success">
                        <i class="tim-icons icon-bulb-63"></i>
                    </div>
                    <h4 class="info-title">Вдъхновете учениците</h4>
                    <p class="description">Помогнете на хората да научат нови умения, да продължат кариерата си и да се развиват, като споделиш знанията си с тях.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-hover">
                    <div class="icon icon-warning">
                        <i class="tim-icons icon-check-2"></i>
                    </div>
                    <h4 class="info-title">Присъединете се към нашата общност</h4>
                    <p class="description">Възползвайте се от нашата активна общност от инструктори, за да ви помогнем в процеса на създаване на вашия курс.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<div class="d-flex justify-content-center">
    <div class="row">
        <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                    <i class="tim-icons icon-spaceship"></i> Планирай своя курс
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                    <i class="tim-icons icon-video-66"></i> Запишете видео
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                    <i class="tim-icons icon-chat-33"></i> Изградете вашата общност
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="d-flex justify-content-center row">
    <div class="col-md-3 text-center">
        <div class="tab-content tab-space">
            <div class="tab-pane active" id="link7">
                Започвате със своята страст и знания. След това изберете тема и планирайте лекциите си в Google Документи, Microsoft Excel или любимата си тетрадка.
                <br>
                <br> Можете да преподавате така, както искате.
            </div>
            <div class="tab-pane" id="link8">
                Имате смартфон или DSLR? Добавете микрофон и сте готови да заснемете първия си курс от дома си или където и да сте.
                <br>
                <br>Използвайте софтуер за екранизиране, като Camtasia, за да излъчвате демонстрации.
            </div>
            <div class="tab-pane" id="link9">
                Създайте викторини, упражнения и задачи за изграждане на интерактивност. Напишете съобщения за добре дошли на вашите ученици.
                <br>
                <br>
            </div>
        </div>
    </div>

</div>
