
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center">
    <div class="row">
        <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                    <i class="tim-icons icon-spaceship"></i> Plan your course
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                    <i class="tim-icons icon-video-66"></i> Record you video
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                    <i class="tim-icons icon-chat-33"></i> Build you community
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="d-flex justify-content-center row">
    <div class="col-md-3 text-center">
        <div class="tab-content tab-space">
            <div class="tab-pane active" id="link7">
                You start with your passion and knowledge. Then choose a topic and plan your lectures in Google Docs, Microsoft Excel, or your favorite notebook.
                <br>
                <br> You get to teach the way you want.
            </div>
            <div class="tab-pane" id="link8">
                Got a smartphone or a DSLR? Add a microphone and you’re ready to film your first course from your home or wherever you happen to be.
                <br>
                <br>Camera shy? No Worries. Use screencasting software, like Camtasia, to screencast demos.
            </div>
            <div class="tab-pane" id="link9">
                Create quizzes, exercises, and assignments to build interactivity. Write welcome messages for your students and answer their questions. Because Courses P2P students don’t just watch, they do.
                <br>
                <br>
            </div>
        </div>
    </div>

</div>



@* TEST *@


<div id="comments">
    <div class="title">
        <h3>
            <small>Comments</small>
        </h3>
    </div>
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="media-area">
                <h3 class="title text-center">
                    <small>10 Comments</small>
                </h3>
                <div class="media">
                    <a class="pull-left" href="javascript:;">
                        <div class="avatar">
                            <img class="media-object img-raised" src="assets/img/marie.jpg" alt="...">
                        </div>
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">
                            Tina Andrew
                            <small class="text-muted">· 7 minutes ago</small>
                        </h5>
                        <p>Chance too good. God level bars. I'm so proud of  #1 song in the country. Panda! Don't be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!</p>
                        <p>All praises and blessings to the families of people who never gave up on dreams. Don't forget, You're Awesome!</p>
                        <div class="media-footer">
                            <a href="javascript:;" class="btn btn-primary btn-link pull-right" rel="tooltip" title="" data-original-title="Reply to Comment">
                                <i class="tim-icons icon-send"></i> Reply
                            </a>
                            <a href="javascript:;" class="btn btn-danger btn-link pull-right">
                                <i class="tim-icons icon-heart-2"></i> 243
                            </a>
                        </div>
                        <div class="media media-post">
                            <a class="pull-left author" href="javascript:;">
                                <div class="avatar">
                                    <img class="media-object img-raised" alt="64x64" src="assets/img/michael.jpg">
                                </div>
                            </a>
                            <div class="media-body">
                                <textarea class="form-control" placeholder="Write a nice reply or go home..." rows="4"></textarea>
                                <div class="media-footer">
                                    <a href="javascript:;" class="btn btn-primary pull-right">
                                        <i class="tim-icons icon-send"></i> Reply
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <a class="pull-left" href="javascript:;">
                        <div class="avatar">
                            <img class="media-object img-raised" alt="Tim Picture" src="assets/img/olivia.jpg">
                        </div>
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">
                            John Camber
                            <small class="text-muted">· Yesterday</small>
                        </h5>
                        <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                        <p> Don't forget, You're Awesome!</p>
                        <div class="media-footer">
                            <a href="javascript:;" class="btn btn-primary btn-link pull-right" rel="tooltip" title="" data-original-title="Reply to Comment">
                                <i class="tim-icons icon-send"></i> Reply
                            </a>
                            <a href="javascript:;" class="btn btn-default btn-link pull-right">
                                <i class="tim-icons icon-heart-2"></i> 25
                            </a>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="javascript:;">
                                <div class="avatar">
                                    <img class="media-object img-raised" alt="64x64" src="assets/img/emily.jpg">
                                </div>
                            </a>
                            <div class="media-body">
                                <h5 class="media-heading">
                                    Tina Andrew
                                    <small class="text-muted">· 2 Days Ago</small>
                                </h5>
                                <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                <p> Don't forget, You're Awesome!</p>
                                <div class="media-footer">
                                    <a href="javascript:;" class="btn btn-primary btn-link pull-right" rel="tooltip" title="" data-original-title="Reply to Comment">
                                        <i class="tim-icons icon-send"></i> Reply
                                    </a>
                                    <a href="javascript:;" class="btn btn-danger btn-link pull-right">
                                        <i class="tim-icons icon-heart-2"></i> 243
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <a class="pull-left" href="javascript:;">
                        <div class="avatar">
                            <img class="media-object img-raised" alt="64x64" src="assets/img/james.jpg">
                        </div>
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">
                            Rosa Thompson
                            <small class="text-muted">· 2 Days Ago</small>
                        </h5>
                        <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                        <p> Don't forget, You're Awesome!</p>
                        <div class="media-footer">
                            <a href="javascript:;" class="btn btn-primary btn-link pull-right" rel="tooltip" title="" data-original-title="Reply to Comment">
                                <i class="tim-icons icon-send"></i> Reply
                            </a>
                            <a href="javascript:;" class="btn btn-danger btn-link pull-right">
                                <i class="tim-icons icon-heart-2"></i> 243
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="pagination pagination-primary justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">1</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="javascript:;">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:;" aria-label="Next">
                            <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
            <h4 class="text-center">
                Post your comment
                <br>
                <small class="text-muted">- Logged In User -</small>
            </h4>
            <div class="media media-post">
                <a class="pull-left author" href="javascript:;">
                    <div class="avatar">
                        <img class="media-object img-raised" alt="64x64" src="assets/img/james.jpg">
                    </div>
                </a>
                <div class="media-body">
                    <textarea class="form-control" placeholder="Write some nice stuff or nothing..." rows="6"></textarea>
                    <div class="media-footer">
                        <a href="javascript:;" class="btn btn-primary btn-wd pull-right">Post Comment</a>
                    </div>
                </div>
            </div>
            <!-- end media-post -->
            <h4 class="text-center">
                Post your comment
                <br>
                <small class="text-muted">- Not Logged In User -</small>
            </h4>
            <div class="media media-post">
                <a class="pull-left author" href="javascript:;">
                    <div class="avatar">
                        <img class="media-object img-raised" alt="64x64" src="assets/img/placeholder.jpg">
                    </div>
                </a>
                <div class="media-body">
                    <form class="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your email">
                                </div>
                            </div>
                        </div>
                        <textarea class="form-control" placeholder="Write some nice stuff or nothing..." rows="6"></textarea>
                        <div class="media-footer">
                            <h6 class="text-muted">Sign in with</h6>
                            <a href="" class="btn btn-icon btn-round btn-twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="" class="btn btn-icon btn-round btn-facebook">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="" class="btn btn-icon btn-round btn-google">
                                <i class="fab fa-google-plus-square"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-primary pull-right">Post Comment</a>
                        </div>
                    </form>
                </div>
                <!-- end media-body -->
            </div>
            <!-- end media-post -->
        </div>
    </div>
</div>