
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center text-center">
    <div class="container">
        <h1 class="title">Discover your potential</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="info info-hover">
                    <div class="icon icon-primary">
                        <i class="tim-icons icon-coins"></i>
                    </div>
                    <h4 class="info-title">Earn money</h4>
                    <p class="description">Earn money every time a student purchases your course. Get paid week through PayPal.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-hover">
                    <div class="icon icon-success">
                        <i class="tim-icons icon-bulb-63"></i>
                    </div>
                    <h4 class="info-title">Inspire students</h4>
                    <p class="description">Help people learn new skills, advance their careers, and explore their hobbies by sharing your knowledge.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info info-hover">
                    <div class="icon icon-warning">
                        <i class="tim-icons icon-check-2"></i>
                    </div>
                    <h4 class="info-title">Join our community</h4>
                    <p class="description">Take advantage of our active community of instructors to help you through your course creation process.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<div class="d-flex justify-content-center">
    <div class="row">
        <ul class="nav nav-pills nav-pills-primary nav-pills-icons" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                    <i class="tim-icons icon-spaceship"></i> Plan your course
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                    <i class="tim-icons icon-video-66"></i> Record you video
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
                    <i class="tim-icons icon-chat-33"></i> Build you community
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="d-flex justify-content-center row">
    <div class="col-md-3 text-center">
        <div class="tab-content tab-space">
            <div class="tab-pane active" id="link7">
                You start with your passion and knowledge. Then choose a topic and plan your lectures in Google Docs, Microsoft Excel, or your favorite notebook.
                <br>
                <br> You get to teach the way you want.
            </div>
            <div class="tab-pane" id="link8">
                Got a smartphone or a DSLR? Add a microphone and you’re ready to film your first course from your home or wherever you happen to be.
                <br>
                <br>Camera shy? No Worries. Use screencasting software, like Camtasia, to screencast demos.
            </div>
            <div class="tab-pane" id="link9">
                Create quizzes, exercises, and assignments to build interactivity. Write welcome messages for your students and answer their questions. Because Courses P2P students don’t just watch, they do.
                <br>
                <br>
            </div>
        </div>
    </div>

</div>
