<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1200000000"/>
      </requestFiltering>
    </security>
  </system.webServer>


  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingConfig" maxBufferSize="1200000000" maxBufferPoolSize="1200000000"
                 maxReceivedMessageSize="1200000000" messageEncoding="Mtom">
          <readerQuotas maxDepth="1200000000" maxStringContentLength="1200000000" maxArrayLength="1200000000"
                        maxBytesPerRead="1200000000" maxNameTableCharCount="1200000000" />
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>-->


</configuration>