@model AddLecturesBindingModel
@{
    ViewData["Title"] = "Add";
}

<div id="alert" role="alert"></div>
<div class="container">
    <div class="col-lg-7 col-md-8 mx-auto">
        <h4 class="text-center">Добави нова лекция</h4>
        <input type="hidden" asp-for="@Model.CourseId" id="courseId" />

        <div class="form-group">
            <label asp-for="Name">Име на лекция</label>
            <input class="form-control" asp-for="Name" id="nameId" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="uploadOuter">
            <label for="uploadFile" class="btn btn-primary">Качи видео до 1 ГБ</label>
            <span class="uploadLectures">
                <input asp-for="@Model.Video" type="file" id="uploadFile" />
            </span>
        </div>
        <div id="vName" class="col-sm-10">
            <label class="text-success" id="label"></label>
        </div>
        <hr />
        <div class="text-center">
            <input type="submit" value="Добави" id="saveId" class="btn btn-info" />
            <a asp-controller="Instructors" asp-action="Index" class="btn btn-danger">Назад</a>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="loader"></div>
    </div>
</div>
<script>
    document.getElementById('uploadFile').addEventListener('change', function (event) {
        let label = document.getElementById("label");
        label.textContent = event.target.files[0].name
    })

</script>

<script>
    document.getElementById('saveId').addEventListener('click', function (e) {
        const alertDiv = document.getElementById("alert");
        const data = document.getElementById('uploadFile').files[0];
        const courseId = document.getElementById('courseId').value;
        const name = document.getElementById('nameId').value;

        function successfully() {
            document.querySelector('.loader').style.display = 'none'
            alertDiv.setAttribute("class", "alert alert-success");
            alertDiv.textContent = `Успешно добавихте лекция ${name}. Обработва се и скоро ще се появи в курса`;
        }

        function invalidAdd(message) {
            alertDiv.setAttribute("class", "alert alert-danger");
            alertDiv.innerHTML = message;
            $("#uploadFile").val("");
            $("#label").text("");
        }

        const formData = new FormData();
        formData.append('video', data);
        formData.append('courseId', courseId);
        formData.append('name', name);

        if (data !== undefined && data.size < 1200000000 && name !== '') {
            document.querySelector('.loader').style.display = 'block'

            alertDiv.setAttribute("class", "alert alert-info");
            alertDiv.textContent = `Моля, изчакайте това ще отнеме 5-10 минути`;
            document.querySelector('.col-lg-7').style.display = 'none';

            fetch('/Lectures/Add', {
                method: 'POST',
                body: formData
            }).then(r => r.json())
                .then(result => {
                    if (result === 'Valid') {
                        successfully();
                    } else {
                        alertDiv.setAttribute("class", "alert alert-danger");
                        alertDiv.innerHTML = 'Неуспешно добавяне!';
                    }
                }).catch((e) => {
                    successfully();
                });

        } else if (data === undefined) {
            invalidAdd('Не сте добавили видео');
        } else if (data.size > 1200000000) {
            invalidAdd('Видеото трябва да е до 1 гигабайт!');
        } else if (name === '') {
            invalidAdd('Полето име е задължително');
        } else {
            invalidAdd('Невалидни Данни!');
        }

    });
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}