@model AddLecturesBindingModel
@{
    ViewData["Title"] = "Add";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="d-flex justify-content-center">
    <form enctype="multipart/form-data" asp-controller="Lectures" asp-action="Add" method="post" class="form-horizontal">
        <h1 class="text-center">Добави нова лекция</h1>
        <input type="hidden" asp-for="@Model.CourseId" />
        <div class="form-group">
            <label class="control-label col-sm-2">Име</label>
            <div class="col-sm-10">
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="uploadOuter">
            <label for="uploadFile" class="btn btn-primary">Качи видео до 1 ГБ</label>
            <strong>ИЛИ</strong>
            <span class="dragBox">
                Darg and Drop video here
                <input asp-for="@Model.Video" type="file" onChange="changeVideo(this)" ondragover="drag()" ondrop="drop()" id="uploadFile" />
            </span>
        </div>
        <div id="PostVideo"></div>

        <hr />
        <div class="form-group">
            <div class="col-sm-10 col-sm-push-2">
                <input type="submit" value="Добави" id="loading" class="btn btn-info" />
                <a asp-controller="Instructors" asp-action="Index" class="btn btn-danger">Назад</a>
            </div>
        </div>
    </form>
</div>

<div id="overlay" style="display: none;">
    <div class="cv-spinner">
        <span class="spinner"></span>
    </div>
</div>

@*Spinner Loading*@
<script>
    jQuery(function ($) {
        $(document).ajaxSend(function () {
            $("#overlay").fadeIn(300);
        });

        $('#loading').click(function () {
            $.ajax({
                type: 'GET',
                success: function (data) {
                    console.log(data);
                }
            }).
                done(function () {
                    setTimeout(function () {
                        $("#overlay").fadeOut(300000);
                    }, 500000);
                });
        });
    });
</script>

@*Add Video*@
<script>
    function changeVideo(input) {
        if (input.files && input.files[0]) {

            let div = document.getElementById("PostVideo");

            let videoElement = document.createElement("video");
            videoElement.setAttribute("width", "500");
            videoElement.setAttribute("controls", "controls");

            let sourceElement = document.createElement("source");
            sourceElement.setAttribute("src", "#");
            sourceElement.setAttribute("type", "video/mp4");
            videoElement.appendChild(sourceElement);
            div.appendChild(videoElement);

            videoElement.querySelectorAll("source")[0].src = URL.createObjectURL(
                input.files[0]
            );

            videoElement.load();
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}