@model IEnumerable<LectureViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Course content</h1>

<div class="container">
    <div class="row">
        @foreach (var lecture in Model)
        {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <a asp-controller="Lectures" asp-action="Video" asp-route-id="@lecture.Id"
                           class="list-group-item list-group-item-action text-center"><i class="fas fa-play"></i> @lecture.Name</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

