@model VideoViewModel
@{
    ViewData["Title"] = "Video";
}

<div class="container">
    <h1 class="my-4">
        <small>@Model.Name</small>
    </h1>
    <div class="row">
        <div class="col-md-8">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://player.cloudinary.com/embed/?cloud_name=demo&public_id=@Model.Video&fluid=true&controls=true&muted=false&autoplay=true&autoplay_on_scroll=false&source_types%5B0%5D=mp4"
                        width="640"
                        height="480"
                        allow="autoplay; fullscreen; encrypted-media; picture-in-picture"
                        allowfullscreen
                        frameborder="0">
                </iframe>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Lectures
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var lecture in Model.Lectures)
                    {
                        <li class="list-group-item">
                            <a asp-controller="Lectures" asp-action="Video" asp-route-id="@lecture.Id"
                               class="list-group-item list-group-item-action text-center"><i class="fas fa-play"></i> @lecture.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

