@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="text-center">
    <h1>Потвърждение за забравена парола</h1>
    <p>
        Моля, проверете имейла си, за да нулирате паролата си.
    </p>
</div>