@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container">
    <div class="text-center">
        <h1>Потвърдете регистрацията си</h1>
        <p>
           Ще ви изпратим имейл за потвърждаване на регистацията.
        </p>
    </div>
</div>


